

/**********  RoomList    ***********/

.roomlist {
    
}

.roomlist__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 33%;
    background-color: #999;
}

.roomlist__sidebar-heading {
    font-size: 1.5em;
    display: inline-block;
    margin-right: .7em;
    vertical-align: middle;
}

.roomlist__sidebar-btn {
    padding: .4em .7em;
    cursor: pointer;
}

.roomlist__list {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
}

.roomlist__item {
    color: #444;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.roomlist__item:hover {
    color: darkgreen;
}

.roomlist__item:not(:last-of-type)  {
    margin-bottom: .7em;
}

.roomlist__main {
    flex: 3;
    position: relative;
}

/*********Create new room modal ********/

.roomlist__modal {
    transition: all 400ms ease-in;
    width: 30%;
    position: absolute;
    top: 10em;
    left: 10em;
    background-color: #999;
    padding: 1em 2em 2em 2em;
    opacity: 0;
    visibility: hidden;
}

.roomlist__modal.show {
    opacity: 1;
    visibility: visible;
}

.roomlist__modal label {
    display: block;
    margin-bottom: .4em;
}

#roomlist_input {
   margin-bottom: .75em; 
    min-height: 1.5em;
    width: 100%;
}

.roomlist__modal button {
    padding: .5em 1em;
    border: none;
    width: 50%;
    cursor: pointer;
}

.roomlist__modal button:last-of-type {
    color: #fff;
    background-color: #666;
}

/************  Main Message List  *********************/

.message-list {
    width: 66%;
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.message-list h2 {
    text-align: center;
}

.message-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.message-list li {
    padding: 2em;
    
}



/************* User sign in **********/

.sign-in {
    float: right;
    padding-right: 1em;
}

.sign-in button {
    cursor: pointer;
    padding: .5em 1em;
}

.sign-in button:hover {
    color: #333;
}

/************ Add message form  ****************/

.create-message {
    margin-top: auto;
}

.message__form {
    display: flex;
    min-height: 2.5em;
}

.message__form input[type="text"] {
    flex: 1;
    padding: 0 1em;
    background-color: #eee;
    border: none;
}

.message__form input[type="submit"] {
    flex: 0 0 8em;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}



