

/**********  RoomList    ***********/

.roomlist {
    display: flex;
    height: 100vh;
}

.roomlist__sidebar {
    padding: 2em;
    flex: 1;
    background-color: #999;
}

.roomlist__sidebar-heading {
    font-size: 1.5em;
}

.roomlist__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roomlist__item {
    color: #444
}

.roomlist__item:not(:last-of-type)  {
    margin-bottom: .7em;
}

.roomlist__main {
    flex: 3;
    
}

